.status-head {
    font-weight: 600;
    font-size:larger;
    margin: 0px;
}

.status-input {
    font-weight: 100;
    font: italic;
}

.details p {
    margin: 0;
    min-width: max-content;
}

.arrow-left{
    top: 44px;
left: -145px;
}

.border {
    border: 1px black solid;
    width: 340px;
    height: 63px;
    border-radius: 30px;
    background-color: black;
    color: black;
}

.details-img {
    width: 70px;
    height: 70px;
}

.details-name {
    font-size: large;
     font-weight: 600;
}

.details-species {
    font-size: smaller;
    font: italic;
    
}

.details-arrow {
    display: flex;
    position: relative;
    width: 20px;
    height: 20px;
    right: 60px;
    transform: scaleX(-1);
    
}
.no-data-found {
    margin-top: 80px;
}